<div class='form-group'>
    <div class=" userdata">
        <label class="col-sm-2 control-label" for="acctype">Type de compte</label>
    </div>
    <div class="col-sm-8">
        <p id="acctype" class="form-control-static">Externe</p>
    </div>
</div>
<div class='form-group'>
    <div class="userdata">
        <label class="col-sm-2 control-label" for="firstname">Nom <span class="red">*</span></label>
    </div>
    <div class="col-sm-8">
        <input type="text" id="firstname" name="firstname" class="form-control" value="{{ userdata.firstname }}">
    </div>
</div>
<div class='form-group'>
    <div class="userdata">
        <label class="col-sm-2 control-label" for="surname">Prénom <span class="red">*</span></label>
    </div>
    <div class="col-sm-8">
        <input type="text" id="surname" name="surname" class="form-control" value="{{ userdata.surname }}">
    </div>
</div>
<div class='form-group'>
    <div class="userdata">
        <label class="col-sm-2 control-label" for="gametag">Tag</label>
    </div>
    <div class="col-sm-8">
        <input type="text" id="gametag" name="gametag" class="form-control" value="{{ userdata.gametag }}">
    </div>
</div>
<div class='form-group'>
    <div class="userdata">
        <label class="col-sm-2 control-label" for="pseudo">Pseudo <span class="red">*</span> </label>
    </div>
    <div class="col-sm-8">
        <input type="text" id="pseudo" name="pseudo" class="form-control" value="{{ userdata.pseudo }}">
    </div>
</div>
<div class='form-group'>
    <div class="userdata">
        <label class="col-sm-2 control-label" for="mail">Mail <span class="red">*</span></label>
    </div>
    <div class="col-sm-8">
        <input type="text" id="mail" name="mail" class="form-control" value="{{ userdata.mail }}">
    </div>
</div>

<div class='form-group'>
    <div class="userdata">
        <label class="col-sm-2 control-label" for="password">Mot de passe</label>
    </div>
    <div class="col-sm-8">
        <input type="password" id="password" name="password" class="form-control" value="************">
    </div>
</div>

<div class='form-group'>
    <div class="userdata">
        <label class="col-sm-2 control-label" for="phone">Tel</label>
    </div>
    <div class="col-sm-8">
        <input type="text" id="phone" name="phone" class="form-control" value="{{ userdata.phone }}">
    </div>
</div>
