{% extends "main_layout.twig" %}


{% block body %}
    <div class="container page2">
        <div class="col-lg-10 col-lg-offset-1">
            <h2 class="page-header">Blog</h2>
            {% for n in news %}
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>{{ n.title }}</strong></div>
                    <div class="panel-body">
                        {{  n.content|nl2br }}
                        <div class="text-right">
                            <h6><em>Rédigé le {{ n.date|date('d/m/Y') }}</em></h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="text-center">
                <ul class="pagination">
                    <li {% if cur_page-1 == 0 %}class="disabled"{% endif %}>
                        <a href="/utsmash/blog/page/{{ cur_page-1 }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for i in 1..nb_page %}
                        <li {% if i == cur_page %}class="active"{% endif %}>
                            <a href="/utsmash/blog/page/{{ i }}">{{ nb_page }}</a>
                        </li>
                    {% endfor %}
                    <li {% if cur_page+1 > nb_page %}class="disabled"{% endif %}>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}