<div class="form-group">
    <label for="firstname" class="col-sm-3 control-label">Nom <span class="red">*</span></label>
    <div class="col-sm-9">
        <input type="text" class="form-control" value="{{ userdata.firstname }}" name="firstname" id="firstname" placeholder="Nom">
    </div>
</div>
<div class="form-group">
    <label for="surname" class="col-sm-3 control-label">Prénom <span class="red">*</span></label>
    <div class="col-sm-9">
        <input type="text" class="form-control" value="{{ userdata.surname }}" name="surname" id="surname" placeholder="Prénom">
    </div>
</div>
<div class="form-group">
    <label for="mail" class="col-sm-3 control-label">Mail <span class="red">*</span></label>
    <div class="col-sm-9">
        <input type="email" class="form-control" value="{{ userdata.mail }}" name="mail" id="mail" placeholder="Mail">
    </div>
</div>
<div class="form-group">
    <label for="pseudo" class="col-sm-3 control-label">Pseudo <span class="red">*</span></label>
    <div class="col-sm-9">
        <input type="text" class="form-control" value="{{ userdata.pseudo }}" id="pseudo" name="pseudo" placeholder="Pseudo">
    </div>
</div>
<div class="form-group">
    <label for="phone" class="col-sm-3 control-label">Tel</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" value="{{ userdata.phone }}" name="phone" id="phone" placeholder="Tel">
    </div>
    <span class="help-block text-center"> Obligatoire uniquement si vous amenez du matériel </span>
</div>