{% extends "main_layout.twig" %}

{% block body %}

    <div class="carousel carousel-fade slide" >
        <div class="carousel-inner">
            <div class="item active">
                <img class="first-slide" src="/utsmash/assets/img/tournoi/header-std.png" alt="First slide">
            </div>
        </div>
    </div>
      <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="page-header">
                <h2>{{ tournament.name }}</h2>
                {% if not tournament.finished %}
                    <div class="text-right">
                        <a class="btn btn-lg btn-primary" href="/utsmash/tournament/register/{{ tournament.id }}">
                            S'inscrire
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <div class="panel-default panel">
                    <div class="panel-heading">
                        Informations
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12 ">
                            <div class='row'>
                                <div class="col-sm-4 userdata">
                                    <label>Date</label>
                                </div>
                                <div class="col-sm-8">
                                    {{ tournament.date|date('l j F Y') }}
                                </div>
                            </div>
                            <div class='row'>
                                <div class="col-sm-4 userdata">
                                    <label>Heure</label>
                                </div>
                                <div class="col-sm-8">
                                    {{ tournament.date|date('H\\hi') }}
                                </div>
                            </div>
                            <div class='row'>
                                <div class="col-sm-4 userdata">
                                    <label>Frais d'inscription</label>
                                </div>
                                <div class="col-sm-8">
                                    {% if tournament.venueFee == 0 %}Gratuit{% else %}{{ tournament.venueFee }} €{% endif %}
                                </div>
                            </div>
                            <div class='row'>
                                <div class="col-sm-4 userdata">
                                    <label>Lieu</label>
                                </div>
                                <div class="col-sm-8">
                                    <span id="address">{{ tournament.location }}</span>
                                </div>
                            </div>
                            <iframe id="map" width="100%" height="450" frameborder="0" style="border:0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel-default panel">
                    <div class="panel-heading">
                        Evenements
                    </div>
                    <div class="panel-body">
                        {% for e in tournament.events %}
                            <div class="event {{ e.name|lower|replace({" " : "-"}) }}">
                                {% if not tournament.finished %}
                                    {% if e.cap-e.inscrit > 0 %}
                                        <div class="label label-success">Places disponibles</div>
                                    {% else %}
                                        <div class="label label-default">Complet</div>
                                    {% endif %}
                                    {% if e.entryFee == 0 %}
                                        <div class="label label-primary prix">Gratuit</div>
                                    {% else %}
                                        <div class="label label-primary prix">{{ e.entryFee }} €</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        var q=encodeURIComponent($('#address').text());
        $('#map')
                .attr('src',
                        'https://www.google.com/maps/embed/v1/place?key=AIzaSyAzznuZUjs9NzH_UB2jqnr_FMdOZfdZGmw&q='+q);
    </script>
{% endblock %}